{{ define "main" }}

<div class="container-md mt-5 mb-5">
    <div class="row">
        <div class="col-md-8 offset-md-2"><h1>{{ .Params.Title }}</h1></div>
    </div>
    <div class="row mt-5 align-items-center">
        <div class="col-sm-2 offset-md-2 col-3">
            <img alt="author" src="author.png" class="img-fluid rounded-circle">
        </div>
        <div class="col-sm-6 col-7">
            <p><strong>{{ .Params.Author }}</strong></p>
            <p>{{ .Params.Job }}</p>
            <p><em>"{{ .Params.Citation}}"</em></p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2">{{ .Content }}</div>
        <div class="col-md-8 offset-md-2 mt-5">
            <p>
                <strong>Čím žijú vaši zamestnanci?</strong>
            </p>
            <p>Ak je pre nich náročné skĺbiť prácu a rodinu, máme pre vás pár tipov.</p>
        </div>
        <div class="col-md-8 offset-md-2 mt-5">
            <a href="mailto:info&#64;pracujucemamy.sk" class="btn btn-warning rounded-pill">Chcem bezplatnú
                konzultáciu</a>
        </div>
    </div>
</div>


{{ end }}