/*!
 * Copyright
 2021 Pracujuce Mamy
 */

$primary: #000166;
$secondary: #3D3EFF;
$warning: #FFCD10;
$link-color: #3D3EFF;

$grid-gutter-width: 1.5rem;

@import "./bootstrap/scss/bootstrap";

html {
  font-size: 12px;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  .image_offset_down_right {
    transform: translate(2.5rem, 2.5rem);
  }

  .image_offset_down_left {
    transform: translate(-2.5rem, 2.5rem);
  }

  .image_offset_down {
    transform: translate(0rem, 2.5rem);
  }

  .image_offset_up_right {
    transform: translate(2.5rem, -2.5rem);
  }
}


body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding-top: 75px;
}

.rounded {
  border-radius: 25px;
}

h1 {
  font-family: DM Serif Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  color: $primary;
  margin-bottom: 2rem;
}

h2 {
  font-family: DM Serif Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: $primary;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  color: $primary;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h4 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.125rem;
  color: $primary;
  margin-top: 2rem;
  margin-bottom: 1rem;
}


p, li {
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: $primary;
}

strong {
  font-weight: 600;
}

.header {
  font-style: normal;
  font-weight: normal;
  color: $primary;
  font-family: 'Poppins', sans-serif;

  h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: $primary !important;
    margin: 0;
    padding: 0;
  }

  a#navbarWhatWeDo.nav-link.dropdown-toggle:active,
  a#navbarWhatWeDo.nav-link.dropdown-toggle:focus {
    outline: 0;
  }

  .dropdown-menu {
    background-color: $primary;
  }

  .dropdown-item {
    color: #FFFFFF;
  }

  .dropdown-menu a:hover {
    color: $warning;
    background-color: $primary;
  }
}

.top_menu_item {
  font-style: normal;
  color: $primary !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $warning;
  text-decoration-thickness: 5px;
  text-decoration-skip: none;
  text-underline-position: under;
}


.dark {
  color: #FFFFFF;

  h1, h2, h3, p {
    color: #FFFFFF
  }
}

.blog_summary {
  h1 {
    font-size: 2rem;
  }
}


.blog_panel_odd {
  background-color: #F3F3FF;
}


.bgF3F3FF {
  background-color: #F3F3FF;
}

.bgFFA4A4 {
  background-color: #FFA4A4;
}

.bgFFFAF1 {
  background-color: #FFFAF1;
}

.bg3D3EFF {
  background-color: $secondary;
}

.bgFFFAFA {
  background-color: #FFFAFA;
}

.blog {
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: $primary;

  .date {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: $primary;
    margin-bottom: 2rem;
  }

  li {
    margin-bottom: 1rem;
  }
}

.footer {
  background: #303083;
  min-height: 290px;
  color: white;

  p {
    color: white;
  }
}

.footer_logo {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: normal;
  background: #303083;
  color: white;

  p {
    color: white;
  }
}


.copyright {
  border-top: 1px solid #6767A4;
  background: #303083;
  height: 66px;
  color: white;

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    opacity: 0.7;
  }
}

.beta {
  content: "beta";
  position: fixed;
  width: 80px;
  height: 25px;
  background: $danger;
  top: 7px;
  left: -20px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  line-height: 27px;
  transform:rotate(-45deg);
}
