/*!
 * Copyright
 2021 Pracujuce Mamy
 */

@import "./bootstrap/scss/bootstrap";

html {
  font-size: 12px;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 14px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 16px;
  }
}

@include media-breakpoint-up(md) {
  .image_offset_down_right {
    transform: translate(2.5rem, 2.5rem);
  }

  .image_offset_down_left {
    transform: translate(-2.5rem, 2.5rem);
  }


  .image_offset_up_right {
    transform: translate(2.5rem, -2.5rem);
  }
}



body {
  font-family: Poppins, sans-serif;
  margin: 0;
  padding-top: 75px;
}


h1 {
  font-family: DM Serif Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  color: #000166;
  margin-bottom: 2rem;
}

h2 {
  font-family: DM Serif Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  color: #000166;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: DM Serif Display, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  color: #000166;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

p, li {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: #000166;
}


.header {
  font-style: normal;
  font-weight: normal;
  color: #000166;
  font-family: 'Poppins', sans-serif;

  .title {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #000166;
  }

  a#navbarWhatWeDo.nav-link.dropdown-toggle:active,
  a#navbarWhatWeDo.nav-link.dropdown-toggle:focus {
    outline: 0;
  }

  .dropdown-menu {
    background-color: #000166;
  }

  .dropdown-item {
    color: #FFFFFF;
  }

  .dropdown-menu a:hover {
    color: #FFCD10;
    background-color: #000166;
  }
}


.link_button {
  padding: 0.5rem 1rem;
  background: #FFCD10;
  border-radius: 60px;
}

.top_menu_item {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #000166 !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: #FFCD10;
  text-decoration-thickness: 5px;
  text-decoration-skip: none;
}


.dark {
  background: #3D3EFF;
  color: #FFFFFF;

  h1, p {
    color: #FFFFFF
  }
}

.blog_summary {
  h1 {
    font-size: 2rem;
  }

  .read_more {
    font-family: 'Poppins', sans-serif;
    color: #3D3EFF;
  }
}


.blog_panel_odd {
  background-color: #F3F3FF;
}


.blog {
  margin-top: 2rem;
  margin-bottom: 5rem;
  color: #000166;
  font-family: Poppins, sans-serif;

  .date {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #000166;
    margin-bottom: 2rem;
  }
}

.footer {
  font-family: 'Poppins', sans-serif;
  background: #303083;
  min-height: 290px;
  color: white;


  p {
    color: white;
  }

  .contact {
    padding-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.footer_logo {
  font-family: 'DM Serif Display', serif;
  font-style: normal;
  font-size: 1rem;
  font-weight: normal;
  background: #303083;
  color: white;

  p {
    color: white;
  }
}


.copyright {
  border-top: 1px solid #6767A4;
  background: #303083;
  height: 66px;
  color: white;

  p {
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    color: white;
    opacity: 0.7;
  }
}