{{ define "main" }}
{{ range $i,$p := .Pages }}
{{if (modBool $i 2)}}
<div class="container-fluid pt-5">
    <div class="container-xxl blog_summary">
        <div class="row justify-content-between">
            <div class="col-md-6 align-self-center">
                <p class="date">{{ .Date.Format "02.01.2006" }} | {{ .Params.Author }}</p>
                <h1>{{ .Title }}</h1>
                {{ .Summary }}
                <a href="{{ .RelPermalink  }}" class="read_more">Čítaj viac ➔</a>
                <p></p>
            </div>
            <div class="col-md-6">
                <img src="{{ .Permalink }}/image.png" class="img-fluid float-end image_offset_down_right">
            </div>
        </div>
    </div>
</div>
{{ else }}
<div class="container-fluid pt-5  blog_panel_odd">
    <div class="container-xxl blog_summary">
        <div class="row justify-content-between">
            <div class="col-md-6 align-self-center order-md-last">
                <p class="date">{{ .Date.Format "02.01.2006" }} | {{ .Params.Author }}</p>
                <h1>{{ .Title }}</h1>
                {{ .Summary }}
                <a href="{{ .RelPermalink  }}" class="read_more">Čítaj viac ➔</a>
                <p></p>
            </div>
            <div class="col-md-6 order-md-first">
                <img src="{{ .Permalink }}/image.png" class="img-fluid float-start image_offset_down_left">
            </div>
        </div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}