{{ define "main" }}
<!--MAIN CONTENT -->
<div class="container-md blog">
    <div class="row">
        <div class="offset-md-2 col-md-8">
            <div class="date">{{ .Date.Format "02.01.2006" }} | {{ .Params.Author }}</div>
            <h1>{{.Title | safeHTML}}</h1>
            <div>
            {{ .Content }}
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-8 offset-md-2 mt-5">
            <a href="mailto:info&#64;pracujucemamy.sk" class="btn btn-warning rounded-pill">Chcem bezplatnú
                konzultáciu</a>
        </div>
    </div>
</div>
{{ end }}
