html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding-top: 75px;
}


.header {
    font-style: normal;
    font-weight: normal;
    color: #000166;
    font-family: 'Poppins', sans-serif;
}

.header .title {
    font-family: 'DM Serif Display', serif;
    font-size: 1.5rem;
    color: #000166;
}

.header a#navbarWhatWeDo.nav-link.dropdown-toggle:active,
.header a#navbarWhatWeDo.nav-link.dropdown-toggle:focus {
    outline: 0;
}

.header .dropdown-menu {
    background-color: #000166;
}

.header .dropdown-item {
    color: #FFFFFF;
}

.header .dropdown-menu a:hover {
    color: #FFCD10;
    background-color: #000166;
}

.header .job_offer {
    background: #FFCD10;
    border-radius: 60px;
}

.top_menu_item {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #000166 !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.active {
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #FFCD10;
    text-decoration-thickness: 5px;
    text-decoration-skip: none;
}


.about {
    font-family: DM Serif Display, serif;
    color: #000166;
}

.about .dark {
    background: #3D3EFF;
    color: #FFFFFF
}

.about h1 {
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
}

.about p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
}

.about .col {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 2rem;
}


.about .image-parent {
    margin-top: 20px;
    margin-right: 5px;
    max-width: 40px;
}

/* BLOG LIST */
.blog_summary {
    margin: auto auto auto 0;
    padding-top: 40px;
    padding-bottom: 20px;
    color: #000166;
}

.blog_summary h1 {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 10pt;
    line-height: 2.2rem;
}

.blog_summary .read_more {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    color: #3D3EFF;
}

.image_offset {
    transform:translateY(2rem);
}


.blog_panel_even {
    background-color: #FFFFFF;
}

.blog_panel_odd {
    background-color: #F3F3FF;
}


/* BLOG style*/
.blog {
    margin-top: 30px;
    color: #000166;
    font-family: DM Serif Display, serif;
}

.blog .date {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1rem;
    color: #000166;
    margin-bottom: 30px;
}

.blog h1 {
    font-style: normal;
    font-weight: normal;
    font-size: 3rem;
    color: #000166;
    margin-bottom: 50px;
}

.blog h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    color: #000166;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blog h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: #000166;
    margin-top: 30px;
    margin-bottom: 20px;
}

.blog p,
.blog li {
    font-family: Poppins;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000166;

}

.footer {
    font-family: 'Poppins', sans-serif;
    background: #303083;
    min-height: 290px;
    color: white;
}

.footer_logo {
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: normal;
    background: #303083;
    color: white;
}

.footer .contact {
    padding-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.5rem;
}

.copyright {
    border-top:  1px solid #6767A4;
    background: #303083;
    height: 66px;
    color: white;
}