{{ define "main" }}

<div class="container-md mt-5">
    <div class="row justify-content-center">
        <div class="col-9"><h1>{{ .Params.Title }}</h1></div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-2">
            <img alt="author" src="author.png" class="img-fluid author">
        </div>
        <div class="col-6">
            <p>{{ .Params.Author }}</p>
            <p>{{ .Params.Job }}</p>
            {{ .Params.Citation}}
        </div>
    </div>
    <div class="row mt-5 justify-content-center">
        <div class="col-9">{{ .Content }}</div>
    </div>
</div>


{{ end }}